* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



body {
    background-color:#121212;
}


header {
    background: rgb(184,50,50);
    background: linear-gradient(90deg, rgba(184,50,50,1) 45%, rgba(226,59,59,1) 100%);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.hLogo {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8em;
    color: #000000;
}

.navigation a {
    text-decoration: none;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.1em;
    padding-left: 20px;
    color: #1F212E;
    transition: 0.6s;
}

.navigation a:hover{
    color:red;
}
section {
    padding: 100px 200px;
}



.main {

    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("images/mask_totem_smoke_192795_1920x1080_00000.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    


}

.main h2 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 500;
    
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: red;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #ffff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mainbtn {
    color: #1F212E;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    background-color: red;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 1px 11px 30px black;
    transition: 0.5s;
}

.mainbtn:hover {
    background-color: #1F212E;
    color: #E6E6E6;
    transform: scale(1.1);
}


.title {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 2px;
    color: red;
    font-size: 2.2em;
    font-weight: 400;
    margin-bottom: 30px;

}
section .cards {
    background: url("/images/680398_00000.png");
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: red;
    width: 21.25em;
    box-shadow: 0 1px 30px rgba(255 1 1 / 20%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: black;
    font-size: 8em;
    text-align: center;
}
.info {
    text-align: center;
}
.info h3 {
    color: black;
    font-size: 1.2em;
    font-weight: 700;
    margin: 15px;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}
