
:root {
    font-size: 16px;
    --text-color:#ed2191;
    --background-color:#080808;
    font-family: 'Rajdhani', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
a {
    transition: 200ms ease;
}

body {

    background-color: var(--background-color);
    color: var(--text-color);
}

body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
background: white;
}

body::-webkit-scrollbar-thumb{
    background: var(--text-color);
 }
article {
    margin-left: 7.2rem;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

main {
    background-color: black;
}
.mainSection {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url("images/pxfuel\ \(1\).jpg");    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    min-height: 50vh;

    font-weight: bolder;

    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
}


nav {
    text-align: center;
    padding-top: 2vh;
    font-size: 1.5rem;

    background-color: rgb(6, 6, 6);
    position: fixed;
    transition: 500ms ease;

}


header nav ul {
    display: flex;
    list-style: none;

    padding: 0;
    margin: 0;

}


header nav ul label{
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 2px 2px 20px var(--text-color);
}

header nav ul li a {
    color: var(--text-color);
    text-shadow: 2px 2px 20px var(--text-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5rem;
    text-decoration: none;
    font-weight: bolder;
    transition: 500ms;
}
.navtext {
    transition: 500ms ease;
    display: none;
    margin-left: 1rem;
}

header nav ul label svg{
color: var(--text-color);
}

header nav ul li a svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}



@media only screen and (min-width: 600px) {
    nav ul label {
        display: block;
    }
    nav {
        top:0;
        width: 7.2rem;
        height: 100vh;
    }
    header nav ul {
        flex-direction: column;
    }
    nav:hover {
        width: 16rem;
        
    }
    
    nav:hover .navtext{
    display: block;
        
    }

    header nav ul li {
        width: 100%;
        padding-top: 20vh;
    
    }
}

.terminal {

    font-size: 1rem;
    text-align: center;

}
.tHeader {

    display: flex;
    justify-content: center;
    

}
.tHeader ul {
    max-width: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;

    background-color: white;
}

.tBody {
    background-color: rgba(10, 10, 10, 0.8);
    text-align: left;
    width: 80%;
    margin-left: 10%;

}
.tHeader ul li {
    padding: 1vh;
    width: 200vh;
    text-align: center;
    margin-right: 2vh;
    color: black;
    font-weight: bolder;

}
.bodycontent {
    padding: 2vh;
}
@media only screen and (max-width: 600px) {

    nav ul label {
        display: none;
    }

    nav {
        flex-direction: row;
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }
    header nav ul {
        flex-direction: row;
    }
    header nav ul li {
        width: 100%;
    
    }

    header nav ul li {
        width: 100%;
        margin-top: 1rem;
    }

    article {
        margin-left: 0;
    }

    .bodycontent {
        padding: 5vh;
    }
}
